.daily-panel {
  background-color: #4049bd; /* Dark Blue Background */
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: white; /* White text */
}

.panel-header {
  border-bottom: 1px solid rgb(241, 242, 246); /* White with transparency */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.panel-date,
.panel-temp,
.panel-icon {
  font-size: 1.2em;
}

.forecast-detail {
  padding: 5px;
  border: 1px solid #ffffff33; /* White with transparency */
  border-radius: 5px;
}

.chart-container {
  margin-top: 10px;
}
