.daily-panel .forecast-row {
  display: flex;
  flex-wrap: wrap;
}

.forecast-details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}

.forecast-details > div {
  flex: 1 1 100%;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .forecast-details > div {
    flex: 0 0 auto;
  }

  .panel-date,
  .temperature,
  .wind-direction,
  .precipitation,
  .alerts {
    flex: 1 0 20%;
  }

  .icon-header {
    flex: 0 0 10%;
  }
}

.forecast-row hr {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
