amqp==5.2.0
asgiref==3.8.1
astroid==3.2.2
attrs==23.2.0
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
contourpy==1.2.1
cron-descriptor==1.4.3
cycler==0.12.1
dill==0.3.8
Django==5.0.6
django-appconf==1.0.6
django-celery-beat==2.6.0
django-cors-headers==4.3.1
django-imagekit==5.0.0
django-timezone-field==6.1.0
django-tinymce==4.0.0
djangorestframework==3.15.1
fiona==1.9.6
flower==2.0.1
fonttools==4.53.0
GDAL==3.8.4
geojson==3.1.0
geopandas==0.14.4
googlemaps==4.10.0
gunicorn==22.0.0
humanize==4.9.0
idna==3.7
isort==5.13.2
kiwisolver==1.4.5
kombu==5.3.7
matplotlib==3.9.0
mccabe==0.7.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pilkit==3.0
pillow==10.3.0
platformdirs==4.2.2
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2-binary==2.9.9
pycodestyle==2.11.1
pyflakes==3.2.0
pygrib==2.1.5
pylint==3.2.2
pyparsing==3.1.2
pyproj==3.6.1
python-crontab==3.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.4
requests==2.32.2
setuptools==70.0.0
shapely==2.0.4
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tomlkit==0.12.5
tornado==6.4
typing_extensions==4.12.1
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
