.location-display {
  display: flex;
  align-items: center;
  margin: 10px;
}

.dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.dot-green {
  background-color: green;
}

.dot-red {
  background-color: red;
}

.location-info {
  display: flex;
  align-items: center;
}

.font-weight-bold {
  font-weight: bold;
}
