.container {
  margin-top: 1.5rem;
}

.text-center {
  text-align: center;
}

.card {
  margin-bottom: 1.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.card-text {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.card-text img {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.table th, .table td {
  vertical-align: middle;
  text-align: center;
}

.table img {
  vertical-align: middle;
  margin-right: 0.5rem;
}
