.footer {
    background-color: #042b45; /* Adjust color as needed */
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 1px solid #dee2e6;
}

.footer p {
  margin: 0.5rem 0;
}
